/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Asterisk wildcard selector to override deaful styles added by the browser  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generals styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Raleway', sans-serif;
}

h1,
h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

h2 {
    font-family: 'Berkshire Swash', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

/* Header*/
header {
    background-color: black;
    padding: 0 1em;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

#logo {
    font-size: 100%;
    color: #ffffff;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    color: #ffffff;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid red;
}

/* Navbar styles with dropdown togele */
nav {
    position: absolute;
    background-color: #000000;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;

}

.nav-toggle-label {
    font-size: 2rem;
    top: 100%;

}

/* Main content */
main {
    /* Make main element take up any surpluse spase to push footer  */
    flex: 1 0 auto;
    margin-top: 40px;
}

#menu h2 {
    text-transform: none;
    color: #000000;
    text-align: center;

}

/*  Hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url('../images/italian-pizza-restaurant-italy.webp') no-repeat center center/cover;
    position: relative;
}
#hero div {
    background-color: rgba(0, 0, 0, .5);
}

#cover-text {

    font-size: 130%;
    position: absolute;
    top: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
#cover-text h2, #cover-text h3 {
    color: #ffffff;
}

/* About us */
#about-us h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
    text-transform: none;
}

.our-menu {
    /* background: url('../images/pexels-chan-walrus-941861.webp'); */
    width: 90%;
    margin: 20px auto;

}
/* .our-menu div {
    background-color: #ffffff;
} */

#block,
#block-img,
#block-img-2 {
    border: 1px solid gold;
    max-width: 300px;
    max-height: 300px;
}

#block-img {
    background: url('../images/pexels-lisa-fotios-1279330.webp') no-repeat center center/cover;
    margin-bottom: 20px;
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
}

#block-img-2 {
    background: url('../images/pexels-alesia-kozik-6072095.webp') no-repeat center center/cover;
    margin-bottom: 20px;
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
}
#block-img-3 {
    background: url('../images/pexels-alesia-kozik-6072095.webp') no-repeat center center/cover;
    margin-bottom: 20px;
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
}
#block-img-4 {
    background: url('../images/pexels-alesia-kozik-6072095.webp') no-repeat center center/cover;
    margin-bottom: 20px;
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
}
/* #block-img-5 {
    background: url('../images/pexels-alesia-kozik-6072095.webp') no-repeat center center/cover;
    margin-bottom: 20px;
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
}
#block-img-6 {
    background: url('../images/pexels-alesia-kozik-6072095.webp') no-repeat center center/cover;
    margin-bottom: 20px;
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
} */

.our-menu h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
    text-transform: none;
}

/* #benefit
-physical>div,
 #benefits-mental>div {
     line-height: 20p;
     margin-bottom: 20px;
 } */
.our-menu p {
    padding: 0 20px;
}

.our-menu hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}
/* Gallery page*/
#photos img {
    width: 100%;
    line-height: 1em;
}
#photos {
    line-height: 0;
}
/* Footer */
footer {
    background-color: #000000;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;

    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: red;
}

/* Media query: larges of lendscape (576 px and up} */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larges (768px and up} */
@media screen and (min-width:768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {

        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 135%;
        line-height: 75px;
        margin: 0 0.2rem;
    }
    /* Popular dishes section */
    /* #dishes-1, #dishes-2, #dishes-3, #dishes-4, #dishes-5, #dishes-6 {
        display: flex;
        flex-direction: column;
        width: 100%;
    } */
    #block-dishes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    /* #dishes-1, #dishes-2, #dishes-3, #dishes-4, #dishes-5, #dishes-6 {
        
    } */

    /* Main content */

    main {
        /* Push main content down to accomodate large header */
        margin-top: 77px;
    }

    /* Hero */
    #cover-text {
        width: 700px;
        right: 0%;
        top: 20%;
    }
    /* Gallery */
    #photos {
        column-count: 3;
    }
}

/* Large devices (laptop and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid red;
    }
    /* Gallery */
    #photos {
        column-count: 4;
    }
}