/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Asterisk wildcard selector to override deaful styles added by the browser  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Generals styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Raleway', sans-serif;
}

/* Header */
header{
    background-color: #000000;
    padding: 0 1em;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #ffffff;
}
h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}
#logo{
    font-size: 110%;
    margin: 0;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    color: #ffffff;
}
#menu > li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid;
}
/* Navbar styles with dropdown togele */
nav {
    position: absolute;
    background-color: #000000;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle{
    display: none;
   
}
.nav-toggle-label {
    font-size: 2rem;
    top: 100%;

}

/* Main content */
main{
    background-color: rgb(196, 255, 196);
    /* Make main element take up any surpluse spase to push footer  */
    flex: 1 0 auto;
    margin-top: 40px;
}
/* Footer */
footer {
    background-color: rgb(140, 0, 255);
}

/* Media query: tablets and larges (768px and up} */
@media screen and (min-width:768px) {
    /* Header */
    nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label{
        display: none;
    }
    #logo {
        font-size: 128%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    /* Main content */
    main {
        /* Push main content down to accomodate large header */
        margin-top: 77px;
    }
}