/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Asterisk wildcard selector to override deaful styles added by the browser  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generals styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Raleway', sans-serif;
}
.hidden-heading{
    display: none;

}
h1,
h3 {
    letter-spacing: 2px;
    color: black;
}

h2 {
    font-family: 'Berkshire Swash', sans-serif;
    letter-spacing: 2px;
    color: black;
}

/* Header*/
header {
    background-color: black;
    padding: 0 1em;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

#logo {
    font-family: 'Berkshire Swash', sans-serif;
    font-size: 180%;
    color: #ffffff;
}
.red {
    color: red;
}
.green {
    color: green;

}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    color: #ffffff;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid red;
}

/* Navbar styles with dropdown togele */
nav {
    position: absolute;
    background-color: #000000;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;

}

.nav-toggle-label {
    font-size: 2rem;
    top: 100%;

}

/* Main content */
main {
    /* Make main element take up any surpluse spase to push footer  */
    flex: 1 0 auto;
    margin-top: 40px;
        /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

#menu h2 {
    text-transform: none;
    color: #000000;
    text-align: center;

}

/*  Hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-chan-walrus-941861-_2_.webp') no-repeat center center/cover;
    position: relative;
}
#hero div {
    background-color: rgba(0, 0, 0, .7);
}

#cover-text {

    font-size: 170%;
    position: absolute;
    top: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
#cover-text h2, #cover-text h3 {
    color: #ffffff;
}

/* About us section */
#about-us{ 
    width: 85%;
    margin: 20px auto;
}
#about-discription {
    margin: 2%;
}

#about h2, .menu-page h2, #contact h2 {
    margin: 10px;
    text-align: center;
    font-size: 280%;
    text-transform: none;
}

#about-img img, #about-img-1 img{
    width: 90%;
    line-height: 1em;
    padding: 5%;
    max-width: 400px;
    min-width: 240px;
    }

#about-img-1 img {
    display: none;
}
/* Our popular dishes section */
.our-menu {
    /* background: url('../images/pexels-chan-walrus-941861.webp'); */
    width: 100%;
    }

#block-dishes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
#block-dishes h3 {
    text-align: center;
}
#block-dishes p {
    text-align: center;
}

.block,
#block-img,
#block-img-2 {
        max-width: 300px;
        max-height: 300px;
}


#block-img {
    background: url('../images/pexels-lisa-fotios-1279330.webp') no-repeat center center/cover;
    margin: 10px;
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
}

#block-img-2 {
    background: url('../images/pexels-alesia-kozik-6072095.webp') no-repeat center center/cover;
    margin: 10px;
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
}
#block-img-3 {
    background: url('../images/pexels-angele-j-128408-_1_.webp') no-repeat center center/cover;
    margin: 10px;
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
}
#block-img-4 {
    background: url('../images/pexels-engin-akyurt-1435903.webp') no-repeat center center/cover;
    margin: 10px;
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
}

.our-menu h2 {
    margin: 30px;
    text-align: center;
    font-size: 280%;
    text-transform: none;
}

.our-menu p {
    padding: 0 20px;
}

.our-menu hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#dishes-1 {
    margin-bottom: 10px;
}


/* Menu page */
.menu-page {
    background: url('../images/pexels-terje-sollie-313700.webp') no-repeat center/cover;
    flex-grow: 1;
}
.table {
    background: url('../images/menu-page-background.webp');
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-auto-rows: minmax(50px, auto);
    justify-content: center;
    padding: 11px;
    margin: 11px;
 
}
.menu-dishes-1 {
    display: grid;
}
.dish-button {
    display: flex;
    justify-content: center;
    padding: 10px;
}


/* Reservations */
#reservations {
    background: url('../images/pexels-ensar-13499007.webp');
    background-size: cover;
    background-position: 60%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}
#reservations-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}
#reservations-form > h2 {
    color: #ffffff;
    margin-bottom: 20px;
}
.text-input {
    background: transparent;
    color: #ffffff; 
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ffffff;
    border-radius: 2px;   
    padding: 0 5px;
}
.join-button:hover {
    background-color: #ffffff;
    color: red;
}
.join-button {
    display: inline-block;
    background: red;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}
.join-button:hover {
    background: green;
    color: white;
}


/* Gallery page*/
#photos img {
    width: 100%;
    line-height: 1em;
}
#photos {
    line-height: 0;
}
/* Button book a table */
a.button {
    display: inline-block;
    background: red;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}
  
.button  div {
    margin: 24px;
    text-align: center;
}
.button:hover {
    background: green;
    color: white;
}

/* Contact us */
#contact-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 24px;
    font-size: medium;
}


/* Footer */
footer {
    background-color: #000000;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;

    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: red;
}

/* Media query: larges of lendscape (576 px and up} */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    } 
}

/* Media query: tablets and larges (768px and up} */
@media screen and (min-width:768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {

        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 290%;
        line-height: 75px;
        margin: 0 0.2rem;
    }
    

    /* Main content */

    main {
        /* Push main content down to accomodate large header */
        margin-top: 77px;
    }

    /* Hero */
    #cover-text {
        width: 700px;
        right: 10%;
        top: 20%;
        font-size: 200%;
    }

    /* About us section */
    #about-us{ 
        width: 85%;
        margin: 20px auto;
        display: flex;
        justify-content: space-around;
    }
    /* Popular dishes section */
    #block-dishes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /* Menu page */
    .table {
        grid-template-columns: 1fr 1fr;
    }


    /* Reservations */
    #reservations {
        background-position: center;
        position: relative;
    }
    #reservations-form {
        max-width: 400px;
        position: absolute;
        left: 15%;
        top: 1%;
    }
    .text-input:hover {
        border-color: red;
    }
    /* Gallery */
    #photos {
        column-count: 3;
    }
}

/* Large devices (laptop and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid red;
    }
    /* Hero */
    #cover-text {
        width: 700px;
        right: 30%;
        top: 20%;
        font-size: 250%;
    }
    /* About us */
    #about-img-1 img {
        display:inline;
    }
    /* Gallery */
    #photos {
        column-count: 4;
    }
}